<template name="addworkout">
    <form>

        <input type="text" name="name" placeholder="Workout Name"/>
        <input type="text" name="description" placeholder="Description"/>
        <select id="score" name="score">
            <option value="AMRAP">AMRAP</option>
            <option value="Time">For Time</option>
            <option value="EMOM">EMOM</option>
            <option value="Completion">Completion</option>
        </select>
        <div name="workoutMovements">
            {{#each exercises}}
                <div>
                    {{> exercise}}
                </div>
            {{/each}}
        </div>
        <div class="addExercises">
                {{> addexercise }}
            <button name="newExercise" id="addExercise">+Exercise</button>
        </div>
        {{#if newWorkout}}
        <button type="submit" id="addWorkout">Add Workout</button>
        {{/if}}
    </form>
</template>
