<template name="app">
    <div class="mainApp">
        {{#if currentUser}}
        <div name="header" class="header">
            <h1 class="welcome">Fitist Log</h1>
            <div>
                Welcome, {{currentUser.profile.firstName}}
            </div>
            <!-- <button id="logout" class="logout btn blue">Logout</button> -->
        </div>
        {{/if}}
        <div class="content {{menuShowing}}">
            {{> yield}}
        </div>
        {{#if currentUser}}
        <div name="menu" class="menu">
            <ul>
                <!-- Menu Options -->
                <li>
                    <div class="nav-button" id="goHome">
                        <i class="fa fa-home"></i>
                    </div>
                </li><li>
                    <div class="nav-button" id="goLogWorkout">
                        <i class="fa fa-plus">W</i>
                    </div>
                </li><li>
                    <div class="nav-button" id="goCreateWorkout">
                         <i class="fa fa-pencil-square-o"></i>
                    </div>
                </li><li>
                    <div class="nav-button" id="goAddMovement">
                        <i class="fa fa-plus">M</i>
                    </div>
                </li>
            </ul>
        </div>
        {{/if}}
    </div>
</template>