.mainApp {

  .menu {

    position: absolute;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    border:1px solid;
    left: 0px;

    .mobile {
      float: bottom;
      height: 50px;
    }

    .desktop {
      width: 200px;
    }

  }

  .content {

    left: 200px;

    .mobile {
      left: 0px;
      margin-left: 2em;
    }
  }

}