<template name="app">
    <div class="mainApp">
        {{#if user}}
        <div name="header" class="header">
            <h1 class="welcome">Fitist Log</h1>
                <div class="user">{{user}}
                    <button id="logout" class="logout">logout</button>
                </div>
        </div>
        {{/if}}
        <div class="content {{menuShowing}}">
            {{> yield}}
        </div>
        {{#if user}}
        <div name="menu" class="menu">
            <ul>
                <!-- Menu Options -->
                <li>
                    <div class="nav-button" id="goHome">
                        <i class="fa fa-home"></i>
                    </div>
                </li><li>
                    <div class="nav-button" id="goLogWorkout">
                        <i class="fa fa-plus">W</i>
                    </div>
                </li><li>
                    <div class="nav-button" id="goCreateWorkout">
                         <i class="fa fa-pencil-square-o"></i>
                    </div>
                </li><li>
                    <div class="nav-button" id="goAddMovement">
                        <i class="fa fa-plus">M</i>
                    </div>
                </li>
            </ul>
        </div>
        {{/if}}
    </div>
</template>