@import '../stylesheets/util/variables';
@import '../stylesheets/util/nav.button';

.mainApp {

  color: $font-color;
  font: $font-stack;

  .menu {

    position: fixed;
    bottom: 0;
    height: 50px;
    background-color: #343436;
    border:1px solid;
    width: 100%;

    ul {
      text-align: center;
      padding: 0px;
      margin: 0px;
      li {
        margin: 0;
        padding: 0;

        .nav-button {
          @extend %nav-button;
        }
        display: inline-block;
        width: 25%;
      }
    }
  }

  .content {

    position: absolute;
    margin-bottom: 60px;
    width: 100%;

  }

}

select {
  display: block;
}