.header {
    text-align: center;
    border-bottom: 1px solid;
}
.welcome {
    text-align: center;
}
.user {
    width: 100%;
    text-align: right;
}

.menu ul {
    list-style-type: none;

}
.content {
    position: absolute;
    width: 100%;
}
