<template name="login">
    <div class="page auth">
        <div class="hGroup">
            <h1>Use Fittest, Get Fitter</h1>
        </div>
        <form>
            <div class="input-symbol  {{errorClass 'email'}} group">
                <input type="email" name="email"/>
                <span class="highlight"></span><span class="bar"></span>
                <label class="">Email</label>
            </div>

            <div class="input-symbol  {{errorClass 'password'}} group">
                <input type="password" name="password"/>
                <span class="highlight"></span><span class="bar"></span>
                <label class="">Password</label>
            </div>
            <button type="button" id="signIn" class="button buttonBlue">Sign In
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
            <button type="button" id="joinRedirect" class="button buttonBlue">
                Join
            </button>
        </form>
    </div>
</template>