<template name="login">
    <div class="page auth">

        <form>
            <div class="input-symbol  {{errorClass 'email'}}">
                <input type="email" name="email" placeholder="Your Email" />
                <span class="icon-email" title="Your Email"></span>
            </div>

            <div class="input-symbol  {{errorClass 'password'}}">
                <input type="password" name="password" placeholder="Password" />
                <span class="icon-lock" title="Password"></span>
            </div>
            <button type="submit" class="btn-primary">Sing in</button>
        </form>
        <a href="{{pathFor 'join'}}" class="link-auth-alt">Join</a>
    </div>

</template>