<template name="addexercise">
    <div class="addexercise">
        <div class="card-panel hoverable">
            <span class="card-content exercise-header">
                <div class="reps-sets">
                    <input name="sets" class="sets" type="number" placeholder="Sets" />
                    X
                    <input name="reps" class="reps" type="number" placeholder="Reps" />
                    {{#each set}}
                    <input class="form-control weightInput" id="exerciseWeight" type="number" name="weight" placeholder="Weight"/>
                    {{/each}}
                </div>
                <div id="complex" class="complex">
                    <div class="movement">
                        <input name="complexReps" class="complexReps" placeholder="Reps" style="display: none;">
                        <input name="movements" type="text" class="form-control typeahead movement-name"
                               placeholder="Movement Name" autocomplete="off"
                               spellcheck="false" data-source="movements" />
                    </div>
                </div>
            </span>
            <span class="card-content super-set">
                <!-- <input class="form-control" id="exerciseDistance" type="number" name="distance" placeholder="Distance"/> -->
                <button id="superset" class="btn blue">Super Set</button>
                <button id="finish" class="btn blue">Complete</button>
            </span>
        </div>
    </div>
</template>