<template name="addexercise">
    <div class="addexercise">
        <div class="card-panel hoverable">
            <span class="card-content">
                <input name="movements" type="text" class="form-control typeahead"
                       placeholder="Movement Name" autocomplete="off"
                       spellcheck="false" data-source="movements" />
                <input name="reps" class="reps" type="number" placeholder="Reps" />
                X
                <input name="sets" class="sets" type="number" placeholder="Sets" />

            </span>
            <span class="card-content">
                <input class="form-control" id="exerciseWeight" type="number" name="weight" placeholder="Weight"/>
                <!-- <input class="form-control" id="exerciseDistance" type="number" name="distance" placeholder="Distance"/> -->
                <button id="superset" class="btn blue superSet">Super Set!</button>
            </span>
        </div>
    </div>
</template>