<template name="logworkout">
    Log A Workout!
    <form>
        <div class="input-field">
            <select id="selectedWorkout" name="workout">
                <option value="New_Workout" selected>New Workout</option>
                {{#each workouts}}
                    <option value="{{_id}}">{{name}}</option>
                 {{/each}}
            </select>
        </div>
        {{#if newWorkout}}
            {{> workoutForm}}
        {{/if}}
        <input type="text" name="result" placeholder="Result"/>
        <button id="submitResult">Complete</button>
    </form>

    {{diagnostic}}
</template>