@import '../../stylesheets/util/variables';



.resultList {


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {

    }
  }
  .result {
    margin-bottom: .5em;
    @include border-radius(5px);
  }
}

.workoutIcon {
  float: left;
  text-align: center;
  width: 2em;
  font-size: 1.2em;
  color: white;
  background-color: royalblue;
}